/* Navigation.css */
.navbar {
    background-color: #ffffff;
    color: #0056b3;
    padding: 10px 20px;
    margin: 300px;
    display: flex;
    justify-content: center;
  }
  
  .navbar a {
    color:#0056b3;
    padding: 10px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: rgb(10, 10, 10);
  }
  
  .logo {
    background: #ddd;
    width: 50px; 
  }
  